---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { GoogleAnalytics } from 'astro-google-analytics';
---

<!doctype html>
<html lang="en">
	<head prefix="og: https://ogp.me/ns#">
    <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-SQGJ9QH46Q"></script>

		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h2 class="text-center">自分の記録を書き溜めるために<br class="block sm:hidden">始めたブログ</h2>
  <div style="text-align: center ;">
    <img class="w-1/4" id="img_icon" src="/ns.webp" alt="logo"  />
  </div>
  <br>
  <br>
  <p>
    namor といいます．(逆から読むとroman...)
    <br />
    大学に入り，ハンドルネームが必要で咄嗟に考えた名前です．
    <br />
    <br />
    電気通信大学3年生でMMAという技術系サークルに所属しています．
  </p>
		</main>
		<Footer />
	</body>
</html>
